body {
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
/* first section design starts here */
h1 {
    font-size: 40px;
    margin-bottom: -20px;
    padding-left: 5px;
    
}

.left-child {
    border-left: 3px solid tomato;
  

}
.orange-color {
    color: orange;


}
p {
    margin-top: 50px;
    text-decoration: justify;
    
}
.explore-btn {
    width: 120px;
    padding: 12px;
    background-color:tomato ;
    color:white;
    border: none;
    border-radius:7px;
    cursor: pointer;
}
.explore-btn:hover {
    background-color: gray;
}
#para2 {
    margin-top:20px;
}
.right-child {
    width: 20%;
    margin: 50px;
}
section {
    display:flex;
    
}
.parent {
    width: 50%;
    margin: 70px;
    text-align: justify;
   
}
.first-section {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
/* second section design starts here */

.sec2-head {
    text-align: center;
    font-size: 20px;
    
}
.mission-fbox {
    width: 250px;
    border: 1px solid gray;
    box-shadow: 5px 5px 14px gray;
    border-radius:15px;
    background-color:skyblue;
}
.mission-fbox img {
    width: 50%;
}
.flex-box {
    display: flex;
    justify-content: space-around;
    padding:30px;
    width: 80%;
    margin: 0 auto;
    color:white;
}
.fbox-hp {
    padding: 20px;
}

.mission-fbox:hover{
    background-color:gray;
}
.vision-fbox {
    width: 250px;
    border: 1px solid gray;
    box-shadow: 5px 5px 14px gray;
    border-radius:15px;
    background-color:plum;
}
.vision-fbox img {
    width: 50%;
}
.vision-fbox:hover {
    background-color:gray;
}
.goals-fbox {
    width: 250px;
    border: 1px solid gray;
    box-shadow: 5px 5px 14px gray;
    border-radius:15px;
    background-color: pink;
}
.goals-fbox img {
    width: 50%;
}
.goals-fbox:hover {
    background-color: gray;
}